body {
    font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.4;
    color: #212121;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-auto-rows: 30px;
}

.contentSection {
    background-color: #ecf0f5;
    grid-column-start: 5;
    grid-column-end: 26;
    grid-row-start: 2;
    grid-row-end: 23;
}
.contentSection-expended {
    background-color: #ecf0f5;
    grid-column-start: 2;
    grid-column-end: 26;
    grid-row-start: 2;
    grid-row-end: 23;
}

.sidebar {
    margin-top: 1px;
    background: rgba(89, 178, 255, 0.48);
    color: black;
    padding: 5px 1px 5px 2px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 23;
}

.sidebar > input {
    padding-left: 18px;
}

.sidebar-collapse {
    margin-top: 1px;
    background: rgba(89, 178, 255, 0.48);
    color: black;
    padding: 5px 1px 5px 2px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 23;
}

.sidebar-collapse > div > ul > li > a {
    display: none;
}

.sidebar-collapse > input {
    display: none;
}
.sidebar-collapse > span {
    display: none;
}




.header {
    grid-column-start: 1;
    grid-column-end: 26;
    grid-row-start: 1;
    background: rgba(89, 178, 255, 0.48);
    padding: 5px;
    color: darkslategrey;
    font-weight: bolder;
    font-size: 18px;
}

.menu {
    padding: 1px;
    float: none;
    text-align: left;
}

.menu > li {
    cursor: pointer;
    padding: 5px 5px 5px 15px;
}

.menu > li > span {
    padding-right: 10px;
}

.menu > li > a {
    color: black;
    font-size: 14px;
    font-weight: bolder;
    text-decoration: none;
}

.menu > li:hover {
    background: #1e282c;
    border: 10px white;
    border-left: 3px solid #00aaca;
}

.menu > li > a:hover {
    color: white;
}

.menu > li > span:hover {
    color: white;
}

.searchspan {
    float: left;
    margin-top: -18px;
    margin-left: 15px;
    position: relative;
    z-index: 2;
    color: gray;
}
